body {
    background-color: lightblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width: 100vw;
    min-width: 100px;
    min-height:calc(100vh - 100px);
    text-align: center;
}

header{
    background-color: antiquewhite;
    padding: 10px;
    margin: 4vw;
}

hr{
    width: 70%;
    height:4px;
    background-color: rgb(109, 179, 193);
    border-color: rgb(109, 179, 193);
}
main{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    margin: 4vw;
    border: 20px;
    border-color:blue;
}


div{
    display:inline-block;
    background-color: lightblue;
    width: 40vw;
}

h2{
    color:darkblue;
    text-align: center;
}
img{
    width:200px;
    height: auto;
}